#{@payment.name},

Thank you for your donation! You can use this email as a reciept for your tax-deductible donation. It is with your help that we are able to be the voice for those who can’t. We couldn’t do what we do without supporters like you. So again, thank you.

It is for freedom...
