- if admin_signed_in?
  .control-panel
    .wrapper
      = link_to 'New post', new_post_path, class: 'button'
      = link_to 'Sign out', destroy_admin_session_path, method: :delete, class: 'button sign-out'
