form
  padding: 1.5em
  background-color: rgba(0,0,0,0.25)
  +box-shadow(rgba(0,0,0,0.75) 1px 1px 0 0 inset, rgba(255,255,255,0.15) -1px -1px 0 0 inset)
  overflow: hidden

  div[class*=column]
    li
      float: left
      width: 100%

      input[type=text], input[type=email], input[type=password], label, textarea
        width: 100%
        display: block

    &[class=two-column]
      li
        width: 48%
        margin-right: 4%

        &:nth-of-type(2)
          margin-right: 0

    &[class=three-column]
      li
        width: 31%
        margin-right: 3.5%

        &:nth-of-type(3)
          margin-right: 0


  li
    margin-bottom: 1em
    font-size: 1.5em
    list-style: none !important

    &.hidden
      display: none

    &.action
      float: right
      margin: 0

      input, button
        float: right

    .inline-hints, .inline-errors
      display: none
      color: red
      font-size: 1em
      text-align: right
      text-shadow: black 0 1px 0

    textarea
      line-height: 1.5em
      resize: vertical

      &:focus
        outline: none

    input, textarea
      padding: 0.4em
      border: 1px solid rgba(0,0,0,0.75)
      +border-radius(4px)
      font-size: 1.1em
      +italic-placeholders()

      &[type=email]:focus, &[type=text]:focus
        outline: none

      &.error
        border: 1px solid red
        +box-shadow(red 0 0 3px)

    input[type=submit], .stripe-button
      +button($highlight)

  #error_explanation
    display: block

    h2
      display: none

    ul
      list-style-position: inside
      list-style-type: square

      li
        list-style: inherit !important
