- @title = 'Home'
- @content_class = 'home'
.wrapper
  %h1.mantra
    The more knowledgeable we become, the more threat we are to those hiding in plain sight.
    %em
      %strong Awareness is imperative to the destruction of human trafficking.
    Ignorance allows it to thrive.


.gallery
  %ul
    %li.word_map

.wrapper
  %section.double
    %article
      %h1 What is Human Trafficking?
      %p
        Human trafficking is a crime against humanity. It involves an act of recruiting, transporting, transferring, harboring, or receiving a person through a use of force, coercion, or other means, for the purpose of exploiting them. &ndash;
        %em UNODC (United Nations Office on Drugs and Crime)
      %p
        Human trafficking is also referred to as modern-day
        %strong slavery.
      %p Women and children who have been trafficked into the sex industry are restrained by physical means, psychological means, and by a condemnatory society. They ARE NOT LIKELY to get out of it on their own.

    %article
      %h1 Why is Awareness Important?
      %p Our children need to be tastefully educated for the sake of prevention. Parents, professionals, and the general population need to be educated for the sake of precaution and understanding. Victims need to be identified and rescued. Perpetrators need to be identified and stopped.
      %p
        The more people that become aware of the realities behind human trafficking, the harder it will be for those involved to stay hidden. The more knowledgeable we become, the more threat we are to those hiding in plain sight.
        %strong Awareness is imperative to the destruction of human trafficking.
        Ignorance allows it to thrive.

  %section.double
    %h1 Staggering Statistics
    %article
      %h1 Global
      %ul
        %li There are more than 27 million slaves in the world today. That is more than at any other point in history.
        %li Human trafficking is the fastest growing criminal enterprise in the world. It is second only to illegal drugs.
        %li Human trafficking is estimated to be a $32 billion industry.
        %li 1 million people are trafficked across international borders each year. 80% of them are women and children. Up to 50% of those are children.
        %li
          2.2 million children are trafficked annually &ndash;
          %em United Nations 2009
        %li
          A child is trafficked every 30 seconds &ndash;
          %em UNICEF
        %li
          Less than .001% of human trafficking victims are being rescued around the world. &ndash;
          %em Trafficking in Persons Report 2011

    %article
      %h1 United States
      %ul
        %li The average age a girl trafficked in the US is 13.
        %li 1 in 3 runaways is approached by a trafficker in the first 48 hours of running away.
        %li
          Sexual abuse victims are 28 times more likely than the general population to end up in prostitution &ndash;
          %em National Institute of Justice
        %li There are between 350-400 new victims of child sex trafficking each day in the U.S.
        %li
          America is the #1 destination for child sex trafficking &ndash;
          %em State Department Bureau of Justice Statistics, 2008
        %li Conservative estimates state that 14,500 - 17,500 people are trafficked into our country each year.
        %li Less than 1% of children trafficked in the U.S. are ever rescued.

  %section.triple
    %h1 What Can I Do?
    %article
      %h1 Spread the Word
      %p Our challenge is for each person who attends an “awareness party” to post the previously listed statistics, one at a time, on the social networking site of their choice. You can post or tweet a fact a day, once a week, or however you prefer to do it.

    %article
      %h1 Pray
      %p
        Prayer is vital and urgent.
        %em For our struggle is not against flesh and blood, but against the rulers, against the authorities, against the powers of this dark world and against the spiritual forces of evil in the heavenly realms. - Ephesians 6:12
        Pray for the victims. Pray for the criminals who are exploiting them. Pray for the people out there trying to save them. Pray for law enforcement. PRAY!

    %article
      %h1 Educate Yourself
      %p Directly below, you'll find a list of books and websites we recommend that deal with human trafficking. Many of these websites offer ideas for how you can help and ways you can get involved. The Polaris Project website actually lists organizations that are in your state and how to contact them.

