- @title = 'Home'
- @content_class = 'home'

#gallery
  %ul
    %li{ style: 'background-image: url(/assets/gallery/01.jpg)' }
    %li{ style: 'background-image: url(/assets/gallery/02.jpg)' }
    %li{ style: 'background-image: url(/assets/gallery/03.jpg)' }

%h1.mantra
  %strong Awareness is imperative to the destruction of human trafficking.
  The more knowledgeable we become, the more threat we are to those hiding in
  plain sight.

%section.news
  %article
    %h1 Latest News
    %p Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. 

%section.double
  %article
    %h1 What is Human Trafficking?
    %p
      Human trafficking is a crime against humanity. It involves an act of
      recruiting, transporting, transferring, harboring, or receiving a person
      through a use of force, coercion, or other means, for the purpose of
      exploiting them. &ndash;
      %em UNODC (United Nations Office on Drugs and Crime)

    = link_to 'Read More »', why_path

  %article
    %h1 Why is Awareness Important?
    %p
      Our teens need to be tastefully educated for the sake of prevention.
      Parents, professionals, and the general population need to be educated for
      the sake of precaution and understanding.

    = link_to 'Read More »', who_path

