- @title = 'What We Do'
- @content_class = 'what'

%h1.mantra
  Unlock Her Freedom is involved in various aspects of
  %strong the fight against human trafficking.

%section.double
  %article
    %h1 Awareness/Prevention
    %p 
      We speak on awareness and education in any venue, both faith-based and
      secular. We do small group settings as well as large events. Our youth
      version is called
      %em Unlocked
      and is education for the sake of prevention.
      %strong If traffickers are targeting our youth, then so are we.

  %article
    %h1 Outreach
    %p
      We schedule outreaches periodically for those who want to get involved in
      the fight against modern-day slavery. These are usually some type of city
      blitz where we pass out educational material on human trafficking in
      highly populated areas.

%section.double
  %article
    %h1 Rescue/Restoration
    %p
      We are partnering with other organizations who work directly on the
      rescue/restoration side to raise funds for their ministries.

  %article
    %h1 Booths
    %p
      We set up booths at conferences and events.

%section
  %article
    %p
      Contact us today if you would like to schedule an event with Unlock Her
      Freedom.