- @title = 'What We Do'
- @content_class = 'what'

%h1.mantra
  Unlock Her Freedom is involved in various aspects of
  %strong raising awareness in the fight against human trafficking.

%section.double
  %article
    %h1 Adults
    %p 
      We do awareness and education for adults via home awareness parties and
      regularly scheduled awareness education events. We can adapt our material
      for your venue and work around your time schedule. We are available to do
      awareness education for adults in most venues by request.

  %article
    %h1 Youth
    %p
      We have a youth version of our awareness material called UnLocked. This
      material focuses not only on awareness, but also on steps for prevention.
      The average age a U.S. citizen is trafficked is 13. We go into youth
      groups, small groups, homes, and schools and educate young people about
      human trafficking and how to stay safe. We are available to do awareness
      education for youth in your venue by request.

%section.double
  %article
    %h1 Booths
    %p
      We set up booths at conferences and events, at which we hand out flyers on
      human trafficking and make our t-shirts and jewelry available for purchase
      through a small donation.

  %article
    %h1 Outreach
    %p
      We schedule outreaches periodically for those who want to get involved in
      the fight against modern-day slavery. These are usually some kind of city
      blitz where human trafficking educational materials are passed out to the
      public.

%section
  %article
    %p
      Contact us today if you would like to schedule an event with Unlock Her
      Freedom. Also, sign up for our newsletter to stay informed about what
      we’re doing and about our upcoming events.