- @title = 'Who We Are'
- @content_class = 'who'

%h1.mantra
  Our Mission is
  %strong seeking freedom for those trapped in sex trafficking
  by spreading awareness and education.

%section.double
  %article
    %h1 Who We Are
    %p
      Unlock Her Freedom was founded in October, 2012 by four everyday women
      stirred to make a difference. We believe awareness is imperative to the
      destruction of human trafficking. The more knowledgeable we all become as a
      society, the harder it will be for those involved to stay hidden.

  %article
    %h1 Why is Awareness Important
    %p
      Our teens need to be tastefully educated for the sake of prevention.
      Parents, professionals, and the general public need to be educated for the
      sake of precaution and understanding. Ignorance has allowed human
      trafficking to thrive, but we will no longer sit back and do nothing.
