- @title = 'Why We Fight'
- @content_class = 'why'

%h1.mantra
  Human trafficking is also called 
  %strong modern-day slavery.
  %br
  It is a 
  %strong crime against humanity
  in which a person is coerced or forced into a situation where they are
  exploited. 79% of human trafficking is for sexual exploitation.

%section.double
  %article
    %h1 Global Human Trafficking Statistics
    %ul
      %li There are more than 27 million slaves in the world today. This is more than at any other point in history.
      %li Human trafficking is the fastest growing criminal enterprise in the world. It is second only to, and fast approaching, the illegal drug trade.
      %li 2.2 million children are trafficked annually.
      %li A child is trafficked every 30 seconds.
      %li Less than .001% of human trafficking victims are being rescued around the world.

  %article
    %h1 US Human Trafficking Statistics
    %ul
      %li America is the #1 destination country for child sex trafficking.
      %li There are approximately 17,000 people trafficked into the U.S. each year.
      %LI 300,000 of our own U.S. citizens are at risk of being trafficked each year.
      %LI The average age a U.S. citizen is trafficked for sex is 13.
      %LI There are currently more than a million children being victimized by sex trafficking in the U.S.
      %LI Less than 1% of U.S. trafficking victims are ever rescued.