*
  +box-sizing(border-box)

body
  color: #5b5b5b
  font-size: 12px
  background: #faf7f4 image-url('body_bg.jpg')
  font-family: 'Helvetica Neue', Arial, sans-serif

  .wrapper
    width: 940px
    margin: 0 auto
    padding: 0 20px

    &:after
      clear: both
      content: ''
      display: block

  h1, h2, h3, h4, h5, h6
    color: #222

  em
    font-style: italic

  strong
    font-weight: bold

  #content
    padding-bottom: 40px

