footer
  padding-bottom: 4em

  #new_payment
    input#amount
      text-align: right

    .card-info
      z-index: 15
      position: fixed
      display: none
      padding: 1.5em
      +background(linear-gradient($highlight, shade($highlight, 15%)))
      +border-radius(9px)
      +box-shadow(rgba(255,255,255,0.25) 0 0 0 1px inset, rgba(0,0,0,0.5) 1px 1px 10px)
      
      li
        text-align: right

        &.action
          width: 100%
      
      input
        padding: 0.7em
        border: 1px solid shade($highlight, 35%)

      input[type=submit]
        padding: 0.5em 1em
        +background(linear-gradient($dark-brown, shade($dark-brown, 15%)))
        border: 1px solid shade($highlight, 65%)
        +box-shadow(rgba(255,255,255,0.25) 1px 1px 0, rgba(255,255,255,0.1) 1px 1px 0 0 inset)
        font-size: 0.9em

        &:hover, &:focus
          +background(linear-gradient(tint($dark-brown, 3%), tint(shade($dark-brown, 15%), 3%)))

        &:active
          background: $dark-brown
          +box-shadow(rgba(0,0,0,0.75) 0 0 10px 1px inset, rgba(255,255,255,0.25) 1px 1px 0)

      input#card-number
        padding-left: 50px
        background: white image-url('credit-cards.png') no-repeat 3px 3px
