footer
  position: relative
  padding-bottom: 4em

  p.copy
    float: left

  p.cc-signature
    top: -10px
    position: relative
    float: right
    width: 264px
    height: 35px
    overflow: visible

    a
      width: 100%
      height: 100%
      display: block
      background: image-url('clevercode_signature.png') no-repeat right center
      text-indent: -9999px
