#content
  margin: 0
  padding: 0
  border-bottom: none
  +box-shadow(none)

  #gallery
    position: relative
    height: 57em
    margin: 0 0 4em
    +box-shadow(rgba(0,0,0,0.75) 0 0 25px)
    overflow: auto

    ul
      width: 300%
      height: 100%

      li
        float: left
        width: 33.333333333%
        height: 100%
        display: block
        background: none no-repeat center center
        background-size: cover
        border: 10px solid #ebebeb
  
    .dots
      position: absolute
      left: 0
      right: 0
      bottom: 20px
      text-align: center

      li
        width: 10px
        height: 10px
        display: inline-block
        margin: 0 4px
        border: 2px solid #fff
        +border-radius(6px)
        cursor: pointer
        +filter(drop-shadow(0 1px 2px rgba(0,0,0,.3)))
        opacity: .4
        +transition(background .5s, opacity .5s)
        text-indent: -999em

        &.active
          background: #fff
          opacity: 1

  h1.mantra
    margin: 0 0 0.8em
    padding: 0 0 0.8em
    +bottom-border()
    color: white
    font-size: 2.5em
    font-weight: bold
    line-height: 1.5em
    text-align: center
    text-transform: uppercase

    strong
      background: $highlight

section
  margin: 0 0 2em
  padding: 0 0 3em
  +bottom-border()

  &:after
    clear: both
    content: ''
    display: block

  article
    overflow: hidden

    &.websites ul li
      list-style: none

      a
        float: left
        margin: 0 5px 5px 0
        padding: 3px 6px
        font-size: 0.9em
        
    > h1
      margin-bottom: 1em
      color: #a16c37
      font-size: 1.3em
      font-weight: bold
      text-transform: uppercase

    li
      font-size: 1.3em
      list-style-position: outside
      list-style-type: square

    .inline-links a
      float: none
      display: inline-block
      margin: 0
      padding: 2px 4px
      font-size: 1em
      font-weight: normal
      text-transform: none
      text-decoration: underline

    p, li
      line-height: 2em

    a
      +buttonify()
      +ellipsize()

section.news > article
  font-size: 1.4em

  > p
    margin-bottom: 1em

  .location
    float: left
    width: 47.5%
    font-size: 0.7em
    overflow: hidden

    .image
      float: left
      width: 25%
      height: 10em
      margin-right: 1em
      background:
        repeat: none
        size: cover
      border: 0.5em solid #ebebeb

    a
      float: none
      margin: 0
      padding: 0

  form
    float: right
    width: 47.5%
    font-size: 0.7em

section.double > article
  float: left
  width: 47.5%
  margin-right: 5%

  &:nth-of-type(even)
    margin-right: 0

section.quad > article
  float: left
  width: 21.25%
  margin-right: 5%

  &:nth-of-type(4n)
    margin-right: 0

#night_for_freedom
  top: -2em
  position: relative
